*{padding:0;margin: 0;}
body{
    -moz-user-select: none;/*FireFox不能选中文字*/
    background-color: #ffffff;
    color: #555;
    font-family:'Avenir Next','Lantinghei SC';
    font-size: 14px;
    /*-webkit-font-smoothing:antialiased;*//*没觉得有啥变化*/
}
.wrap{
    width: 100%;
    height: 700px;
    background-color: #333 ;
    position: absolute;
    top:50%;
    margin-top: -350px;
    overflow: hidden;
    background:url(img/background.jpg);
}
/*海报样式*/
.photo{
    width: 260px;
    height: 320px;
    position: absolute;
    z-index:1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    cursor:pointer;
    transition: all 1s ease-in-out;
    left: 50%;top:50%;
    margin-top:-160px;
    margin-left: -130px;
}
.photo .side{
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;/*重点*/
}
.photo .side-front{ }
.side-back{ }
.photo .side-front .image{
    width: 100%;
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}.photo .side-front .image img{
     width: 100%;
 }
.photo .side-front .caption{
     text-align: center;
     font-size: 16px;
     line-height: 50px;
 }
.side-back .desc{
     color: #666;
     font-size:14px;
     line-height: 1.5;
 }
 /*选中海报*/
.photo-center {
    left: 50% !important ;
    top:50% !important ;
    transform: rotate(0deg) scale(1.2,1.2) !important;
    margin-top:-160px;
    margin-left: -130px;
    z-index:99;
}
/*翻转*/
#wrap{
    perspective: 1200px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
}
.photo{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.photo-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition:all .6s ease-out;
}
.photo-wrap .side-front{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
.photo-wrap .side-back{
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}
.photo-wrap .side{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.photo-front .photo-wrap{
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
}
.photo-back .photo-wrap{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}
